
@{
    ViewBag.Title = "CV";
    ViewBag.Id = "CV";
}

<section id="cv">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Curriculum Vitae</h2>
                <h3 class="section-subheading text-muted">Version détaillée</h3>
            </div>
        </div>
        <hr />
        <div class="row margin-bottom-30">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#cvModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-2x"></i>
                            <h5 class="visible-xs cv-company">TEKSystems<span class="text-muted">(2015-Présent)</span></h5>
                        </div>
                    </div>
                    <img src="~/Images/cv/Teksystems.jpg" class="img-responsive img-company" alt="TEKsystems logo">
                </a>
                <div class="portfolio-caption separator hidden-xs">
                    <h4>TEKSystems <span class="text-muted">(2015-Présent)</span></h4>
                </div>
            </div>
            <hr class="visible-xs sub-separator" />
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#cvModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-2x"></i>
                            <h5 class="visible-xs cv-company"> R3D/Techsolcom<span class="text-muted">(2014-2015)</span></h5>
                        </div>
                    </div>
                    <img src="~/Images/cv/R3D.jpg" class="img-responsive img-company" alt="R3D/Techsolcom logo">
                </a>
                <div class="portfolio-caption separator hidden-xs">
                    <h4>R3D/Techsolcom <span class="text-muted">(2014-2015)</span></h4>
                </div>
            </div>
            <hr class="visible-xs sub-separator" />
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#cvModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-2x"></i>
                            <h5 class="visible-xs cv-company">Fujitsu <span class="text-muted">(2012-2014)</span></h5>
                        </div>
                    </div>
                    <img src="~/Images/cv/Fujitsu.jpg" class="img-responsive img-company" alt="Fujitsu logo">
                </a>
                <div class="portfolio-captio separator hidden-xs">
                    <h4>Fujitsu <span class="text-muted">(2012-2014)</span></h4>
                </div>
            </div>
            <hr class="visible-xs sub-separator" />
        </div>
        <div class="row margin-bottom-30">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#cvModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-2x"></i>
                            <h5 class="visible-xs cv-company">Axélan <span class="text-muted">(2009-2012)</span></h5>
                        </div>
                    </div>
                    <img src="~/Images/cv/Axelan.jpg" class="img-responsive img-company" alt="Axelan logo">
                </a>
                <div class="portfolio-caption separator hidden-xs">
                    <h4>Axélan <span class="text-muted">(2009-2012)</span></h4>
                </div>
            </div>
            <hr class="visible-xs sub-separator" />
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#cvModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-2x"></i>
                            <h5 class="visible-xs cv-company">C2 <span class="text-muted">(2009)</span></h5>
                        </div>
                    </div>
                    <img src="~/Images/cv/C2.jpg" class="img-responsive img-company" alt="C2 logo">
                </a>
                <div class="portfolio-caption separator hidden-xs">
                    <h4>C2 <span class="text-muted">(2009)</span></h4>
                </div>
            </div>
            <hr class="visible-xs sub-separator" />
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#cvModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-2x"></i>
                            <h5 class="visible-xs cv-company">DTI/PBS <span class="text-muted">(2005-2009)</span></h5>
                        </div>
                    </div>
                    <img src="~/Images/cv/DTI.jpg" class="img-responsive img-company" alt="DTI logo">
                </a>
                <div class="portfolio-caption separator hidden-xs">
                    <h4>DTI/PBS <span class="text-muted">(2005-2009)</span></h4>
                </div>
            </div>
            <hr class="visible-xs sub-separator" />
        </div>

    </div>
</section>

<!-- CV Modals -->
<!-- CV Modal 1 Teksystems-->
<div class="portfolio-modal modal " id="cvModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <span class=" visible-xs duration" style="">2015-Présent</span>
                <a><i class="fa fa-close fa-size" style=""></i></a>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered img-modal" src="~/Images/cv/Teksystems.jpg" alt="">
                            <h3 class=" hidden-xs text-muted">2015-Présent</h3>
                            <hr/>
                            <ul class="no-bullet">
                                <li class="techno">
                                    <h4 class="hidden-xs">Project Agile ShiftWise (03-2017 à aujourd’hui) </h4>
                                    <h5 class="visible-xs">Project Agile ShiftWise</h5>
                                    <h6 class="visible-xs">(03-2017 à aujourd’hui)</h6>
                                    <p>Adaption pour le UK de l’application ShiftWise de gestion de personnel médical.</p>
                                    <p>Effectuer développement front-end, back-end et tests unitaires</p>
                                    <p>Participer à l’analyse, aux estimations et au grooming des « stories ».</p>
                                    <div class="technos">
                                        <div class="technos-item">ASP.NET</div>
                                        <div class="technos-item">ASP.NET MVC</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item"> ADO.NET</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">Mongo</div>
                                        <div class="technos-item">TFS</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Project Agile DOL (01-2017 à 03-2017)</h4>
                                    <h5 class="visible-xs">Project Agile DOL</h5>
                                    <h6 class="visible-xs">(01-2017 à 03-2017)</h6>
                                    <p>Site SPA pour les nouveaux investissements de capital faisant partie du site d’une société d’investissement.</p>
                                    <p>Effectuer du développement front-end et tests unitaires</p>
                                    <p>Participer à l’analyse, aux estimations, au grooming des « stories » et au design des interfaces.</p>
                                    <div class="technos">
                                        <div class="technos-item">HTML5</div>
                                        <div class="technos-item">CSS3</div>
                                        <div class="technos-item">Angular 2</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">Typescript</div>
                                        <div class="technos-item">Sass</div>
                                        <div class="technos-item">Bootstrap</div>
                                        <div class="technos-item">Jasmine</div>
                                        <div class="technos-item">Lint</div>
                                        <div class="technos-item">Gulp</div>
                                        <div class="technos-item">Jenkins</div>
                                        <div class="technos-item">SVN</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">POCs Angular 2 (12-2016 à 01-2017)</h4>
                                    <h5 class="visible-xs">POCs Angular 2</h5>
                                    <h6 class="visible-xs">(12-2016 à 01-2017)</h6>
                                    <p>Divers POCs (Proof of Concept) exploratoires</p>
                                    <p>Apprentissage interne de la refonte du framework Angular 2.</p>
                                    <p>Recherches et POCS avec groupe interne RIA en préparation de contrats.</p>
                                    <div class="technos">
                                        <div class="technos-item"> Angular 2</div>
                                        <div class="technos-item">HTML5</div>
                                        <div class="technos-item"> CSS3</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">Typescript</div>
                                        <div class="technos-item">Gulp</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Project Agile de refonte de CRISP (04-2016 à 12-2016)</h4>
                                    <h5 class="visible-xs">Project Agile de refonte de CRISP</h5>
                                    <h6 class="visible-xs">(04-2016 à 12-2016)</h6>
                                    <p>Site SPA de gestion interne de programmes incitatifs pour employés.</p>
                                    <p>Effectuer du développement front-end, back-end et tests unitaires.</p>
                                    <p>Participer de façon active à aider le QA et à l’analyse.</p>
                                    <p>Aider à améliorer le processus pour les spécifications pour augmenter la vélocité.</p>
                                    <div class="technos">
                                        <div class="technos-item">HTML5</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">AngularJS</div>
                                        <div class="technos-item">Typescript</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item"> Less</div>
                                        <div class="technos-item">Bootstrap</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">Web API</div>
                                        <div class="technos-item"> IOC (Ninject et AutoFac)</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">Team City</div>
                                        <div class="technos-item">TFS</div>
                                        <div class="technos-item">WebStorm</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet Agile de refonte site Honeywell.com (09-2015 à 04-2016)</h4>
                                    <h5 class="visible-xs">Projet Agile de refonte site Honeywell.com</h5>
                                    <h6 class="visible-xs">(09-2015 à 04-2016)</h6>
                                    <p>CMS pour le site Honeywell.com pour les nouvelles de l’entreprise et leurs produits.</p>
                                    <p>Participer au développement front-end et back-en.d</p>
                                    <p>Configurer l’engin de recherche et ajouté les tags d‘indexation.</p>
                                    <div class="technos">
                                        <div class="technos-item">MVC</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">jQuery</div>
                                        <div class="technos-item">Bootstrap</div>
                                        <div class="technos-item">CSS3</div>
                                        <div class="technos-item">Jira</div>
                                        <div class="technos-item">VS Online</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Gestion Worflows TFS (08-2015 à 09-2015)</h4>
                                    <h5 class="visible-xs">Gestion Worflows TFS</h5>
                                    <h6 class="visible-xs">(08-2015 à 09-2015)</h6>
                                    <p>Conseils et modifications des workflows pour TFS.</p>
                                    <p>Modifier les fichiers de workflows XML et tests avec les clients.</p>
                                    <div class="technos">
                                        <div class="technos-item">TFS</div>
                                        <div class="technos-item">XML</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">POC Protractor (07-2015 à 08-2015)</h4>
                                    <h5 class="visible-xs">POC Protractor</h5>
                                    <h6 class="visible-xs">(07-2015 à 08-2015)</h6>
                                    <p>POC pour les tests automatisés d’assurance de qualité.</p>
                                    <p>Élaborer des tests pour page web et création d’un Kata interne.</p>
                                    <div class="technos">
                                        <div class="technos-item">Protractor</div>
                                        <div class="technos-item">Jasmine</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">AngularJs</div>
                                        <div class="technos-item">SoapUI</div>
                                        <div class="technos-item">Sublime 3</div>
                                        <div class="technos-item">WebStorm</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">POC Commerce Bank (05-2015 à 07-2015)</h4>
                                    <h5 class="visible-xs">POC Commerce Bank</h5>
                                    <h6 class="visible-xs">(05-2015 à 07-2015)</h6>
                                    <p>Apprendre framework interne créé. Ajout de code au POC commun.</p>
                                    <p>Effectuer du développement front-end, back-end et tests unitaires.</p>
                                    <div class="technos">
                                        <div class="technos-item">HTML5</div>
                                        <div class="technos-item">AngularJS</div>
                                        <div class="technos-item">Typescript</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">Less</div>
                                        <div class="technos-item">Bootstrap</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item"> Web API</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">TFS</div>
                                    </div>
                                    <hr>
                                </li>
                            </ul>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CV Modal 2 R3D -->
<div class="portfolio-modal modal fade" id="cvModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <span class=" visible-xs duration" style="">2014-2015</span>
                <a><i class="fa fa-close fa-size"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered img-modal" src="~/Images/cv/R3D.jpg" alt="">
                            <h3 class="hidden-xs text-muted">2014-2015</h3>
                            <hr/>
                            <ul class="no-bullet">
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet PODT (10-2014 à 05-2015)</h4>
                                    <h5 class="visible-xs">Projet PODT</h5>
                                    <h6 class="visible-xs">(10-2014 à 05-2015)</h6>
                                    <p>Application web MVC 5 de gestion d’objectifs départementaux.</p>
                                    <p>En mode Agile itératif, participer à la conception initiale et aux estimations.</p>
                                    <p>Effectuer du développement front-end, back-end et tester l’application.
                                        Superviser le travail de l’équipe (variable de 2 à 4 développeurs et 1 QA).</p>
                                    <p>Responsable du suivi des besoins et du support au client.</p>
                                    <p>Suivi et planification du projet, gestion des environnements Azure, confection des packages de livraison,
                                        gestion des sites de QA et des bases de données</p>
                                    <div class="technos">
                                        <div class="technos-item">MVC</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">HTML5</div>
                                        <div class="technos-item">CSS3</div>
                                        <div class="technos-item">Bootstrap</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">LINQ</div>
                                        <div class="technos-item">Jira</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">Git</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet DB Consistency (10-2014 à 05-2015)</h4>
                                    <h5 class="visible-xs">Projet DB Consistency</h5>
                                    <h6 class="visible-xs">(10-2014 à 05-2015)</h6>
                                    <p>Service Windows de vérifications de bons de commande EDI versus la base de données de l’entreprise.</p>
                                    <p></p>
                                    <p></p>
                                    <div class="technos">
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">LINQ</div>
                                        <div class="technos-item">SQL</div>
                                        <div class="technos-item">Jira</div>
                                        <div class="technos-item">Confluence</div>
                                        <div class="technos-item">Git</div>
                                    </div>
                                    <hr>
                                </li>
                            </ul>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CV Modal 3 Fujitsu-->
<div class="portfolio-modal modal fade" id="cvModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <span class=" visible-xs duration" style="">2012-2014</span>
                <a><i class="fa fa-close fa-size"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered img-modal" src="~/Images/cv/Fujitsu.jpg" alt="">
                            <h3 class="hidden-xs text-muted">2012-2014</h3>
                            <hr>
                            <ul class="no-bullet">
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet Refonte GSR MOBILE(Ministère du Transport du Québec) </h4>
                                    <h5 class="visible-xs">Projet Refonte GSR MOBILE(Ministère du Transport du Québec)</h5>
                                    <h6 class="visible-xs">(06-2014 à 10-2014)</h6>
                                    <p>Refonte WPF de l’application mobile pour les installateurs de panneaux routiers.</p>
                                    <p>Projet effectué en mode Agile itératif chez le client.</p>
                                    <p>Refaire, coder et tester (front-end). Ajouts et ajustements au back-end.</p>
                                    <div class="technos">
                                        <div class="technos-item">WPF</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">Asp.Net</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">jQuery</div>
                                        <div class="technos-item">MVVM</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">LINQ</div>
                                        <div class="technos-item">WCF</div>
                                        <div class="technos-item">SQL</div>
                                        <div class="technos-item">IIS</div>
                                        <div class="technos-item"> TFS</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet GSR Web(Ministère du Transport du Québec) (01-2014 à 06-2014)</h4>
                                    <h5 class="visible-xs">Projet GSR Web(Ministère du Transport du Québec)</h5>
                                    <h6 class="visible-xs">(01-2014 à 06-2014)</h6>
                                    <p>Site Web ASP.NET de gestion de panneaux de signalisation.</p>
                                    <p>Projet effectué en mode Agile itératif chez le client.</p>
                                    <p>Effectuer des demandes d’améliorations (front-end, back-end, BD SQL et rapports).</p>
                                    <p>Faire fichiers de déploiement.</p>
                                    <div class="technos">
                                        <div class="technos-item">Asp.Net</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">jQuery</div>
                                        <div class="technos-item">CSS</div>
                                        <div class="technos-item">WCF</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">LINQ</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">SSRS</div>
                                        <div class="technos-item">IIS</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet PEVL(Ministère du Transport du Québec) (01-2014 à 04-2014)</h4>
                                    <h5 class="visible-xs">Projet PEVL(Ministère du Transport du Québec)</h5>
                                    <h6 class="visible-xs">(01-2014 à 04-2014)</h6>
                                    <p>Site Web ASP.NET de gestion des permis.</p>
                                    <p>Projet effectué en mode Agile itératif chez le client.</p>
                                    <p>Coder et tester front-end. Correction et modification de rapports.</p>
                                    <p>Ajouter fonctionnalités à un service WCF.</p>
                                    <div class="technos">
                                        <div class="technos-item">Asp.Net</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">jQuery</div>
                                        <div class="technos-item">CSS</div>
                                        <div class="technos-item">WCF</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">LINQ</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">SSRS</div>
                                        <div class="technos-item">IIS</div>
                                        <div class="technos-item">T4</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet CEV3(Hydro-Québec) (10-2012 à 01-2014)</h4>
                                    <h5 class="visible-xs">Projet CEV3(Hydro-Québec)</h5>
                                    <h6 class="visible-xs">(10-2012 à 01-2014)</h6>
                                    <p>Projet WPF pour l’achat et la vente d’électricité.</p>
                                    <p>Projet effectué en mode Agile (Scrum) itératif en collaboration avec le client.</p>
                                    <p>Analyse des spécifications, tests unitaires et coder les « coded UI » tests (CUIT).</p>
                                    <p>Analyses de performance (Gibraltar). Concevoir des simulateurs de marché.</p>
                                    <p>Développement front-end et back-end. Tester des tâches des services WCF.</p>
                                    <div class="technos">
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">WPF</div>
                                        <div class="technos-item">MVVM</div>
                                        <div class="technos-item">SOA</div>
                                        <div class="technos-item">WCF</div>
                                        <div class="technos-item">LINQ</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">JustMock</div>
                                        <div class="technos-item">TFS</div>
                                        <div class="technos-item">SQL</div>
                                        <div class="technos-item">Oracle</div>
                                    </div>
                                    <hr>
                                </li>
                            </ul>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CV Modal 4 Axelan-->
<div class="portfolio-modal modal fade" id="cvModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <span class=" visible-xs duration" style="">2009-2012</span>
                <a><i class="fa fa-close fa-size"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered img-modal" src="~/Images/cv/Axelan.jpg" alt="">
                            <h3 class="hidden-xs text-muted">2009-2012</h3>
                            <hr>
                            <ul class="no-bullet">
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet AxeCrm (07-2011 à 10-2012)</h4>
                                    <h5 class="visible-xs">Projet AxeCrm</h5>
                                    <h6 class="visible-xs">(07-2011 à 10-2012)</h6>
                                    <p>Projet CRM Silverlight maison pour usage interne de la compagnie.</p>
                                    <p>Conception et architecture. Évaluation technique, revue de code et coaching.</p>
                                    <p>Coder et tester certaines parties (front-end, back-end et BD SQL).</p>
                                    <p>Réviser la documentation projet.</p>
                                    <div class="technos">
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">Silverlight</div>
                                        <div class="technos-item">MVVM</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">CSLA</div>
                                        <div class="technos-item">Linq</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">IIS</div>
                                        <div class="technos-item">Agile</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet Hitek (02-2011 à 10-2012)</h4>
                                    <h5 class="visible-xs">Projet Hitek</h5>
                                    <h6 class="visible-xs">(02-2011 à 10-2012)</h6>
                                    <p>Projet Silverlight de transport pour maximiser les livraisons.</p>
                                    <p></p>
                                    <div class="technos">
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">Silverlight</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">CSLA</div>
                                        <div class="technos-item">Linq</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">IIS</div>
                                        <div class="technos-item">Agile</div>
                                    </div>
                                    <hr>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet Phoenix (11-2009 à 10-2012)</h4>
                                    <h5 class="visible-xs">Projet Phoenix</h5>
                                    <h6 class="visible-xs">(11-2009 à 10-2012)</h6>
                                    <p>Projet WPF de production de harnais électriques et électroniques.</p>
                                    <p>Projet effectué en mode Agile itératif avec représentant du client à nos bureaux.</p>
                                    <p>Rencontrer les clients, analyse et conception technique des solutions.</p>
                                    <p>Coder, tester, effectuer support aux clients et planifier l’évolution.</p>
                                    <p>Augmenter la performance et l’exactitude des tris. Écrire la documentation.</p>
                                    <div class="technos">
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">WPF</div>
                                        <div class="technos-item">Linq</div>
                                        <div class="technos-item">DBML</div>
                                        <div class="technos-item">CSLA</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">Agile</div>
                                        <div class="technos-item">TFS et SVN</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet PrimacoSol (11-2009 à 10-2012)</h4>
                                    <h5 class="visible-xs">Projet PrimacoSol</h5>
                                    <h6 class="visible-xs">(11-2009 à 10-2012)</h6>
                                    <p>Projet Winform de gestion de contrats de financement d’assurances.</p>
                                    <p></p>
                                    <div class="technos">
                                        <div class="technos-item">Winform</div>
                                        <div class="technos-item">VB.Net et C#</div>
                                        <div class="technos-item">ADO.Net</div>
                                        <div class="technos-item" title="Entity Framework">EF</div>
                                        <div class="technos-item">CSLA</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">SSRS et Crystal Reports</div>
                                        <div class="technos-item">TFS et SVN</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet PrimacoWeb (11-2009 à 10-2012)</h4>
                                    <h5 class="visible-xs">Projet PrimacoWeb</h5>
                                    <h6 class="visible-xs">(11-2009 à 10-2012)</h6>
                                    <p>Projet ASP.NET d’inscription de proposition de contrats de financement d’assurances, effectué en mode Agile
                                        itératif.</p>
                                    <p>Rencontrer client, analyse, estimations et conception technique des solutions.</p>
                                    <p>Coder (front-end et back-end), tester, documenter, supporter clients et planifier l’évolution.</p>
                                    <p>Gérer et migrer serveurs tests et client.</p>
                                    <div class="technos">
                                        <div class="technos-item">Asp.Net</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">VB.NET</div>
                                        <div class="technos-item">CSS</div>
                                        <div class="technos-item">ADO.Net</div>
                                        <div class="technos-item">EF</div>
                                        <div class="technos-item">CSLA</div>
                                        <div class="technos-item">IIS</div>
                                        <div class="technos-item">SSRS</div>
                                        <div class="technos-item">T-SQL</div>
                                        <div class="technos-item">Agile</div>
                                        <div class="technos-item">TFS et SVN</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Autres Réalisations</h4>
                                    <h5 class="visible-xs">Autres Réalisations</h5>
                                    <p>Migration de SVN à TFS 2010 (Installation, configuration et gestion).</p>
                                    <p>Tests et revues de différents produits à l’essai.</p>
                                    <p>Proposition offerte de remplacer le team leader et/ou de l’assister.</p>
                                </li>
                            </ul>
                            <hr>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CV Modal 5 C2 -->
<div class="portfolio-modal modal fade" id="cvModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <span class=" visible-xs duration" style="">2009</span>
                <a><i class="fa fa-close fa-size"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered img-modal" src="~/Images/cv/C2.jpg" alt="C2 Innovations">
                            <h3 class="hidden-xs text-muted">2009</h3>
                            <hr>
                            <ul class="no-bullet">
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet CRM pour service à la clientèle (08-2009 à 11-2009)</h4>
                                    <h5 class="visible-xs">Projet CRM pour service à la clientèle</h5>
                                    <h6 class="visible-xs">(08-2009 à 11-2009)</h6>
                                    <p>Applications Winform, plusieurs applications Web et différents services.</p>
                                    <p>Correction de bogues et ajout de fonctionnalités pour clients</p>
                                    <p>Maintenir et faire évoluer les générateurs de code.</p>
                                    <p>Documenter l’application et le déploiement des .msi de diverses applications.</p>
                                    <div class="technos">
                                        <div class="technos-item">VB.NET</div>
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">ASP.NET</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">XML</div>
                                        <div class="technos-item"> SQL Serveur</div>
                                        <div class="technos-item">Oracle</div>
                                    </div>
                                </li>
                            </ul>
                            <hr>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CV Modal 6 DTI-PBS-->
<div class="portfolio-modal modal fade" id="cvModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <span class=" visible-xs duration" style="">2005-2009</span>
                <a><i class="fa fa-close fa-size"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered img-modal" src="~/Images/cv/DTI.jpg" alt="DTI/PSB">
                            <h3 class="hidden-xs text-muted">2005-2009</h3>
                            <hr>
                            <ul class="no-bullet">
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet Annonces Classées (11-2007 à 05-2009)</h4>
                                    <h5 class="visible-xs">Projet Annonces Classées</h5>
                                    <h6 class="visible-xs">(11-2007 à 05-2009)</h6>
                                    <p>Refonte d’une section des annonces classées</p>
                                    <p>Coder application Web MVPC dynamiques (composites et contrôles).</p>
                                    <p>Maintenir et faire évoluer les générateurs de code.</p>
                                    <p>Participer à la formation d’un groupe de 6 développeurs seniors.</p>
                                    <div class="technos">
                                        <div class="technos-item">CSP(Asp.Net)</div>
                                        <div class="technos-item">COS (mixe VB.Net et C#)</div>
                                        <div class="technos-item">Zen</div>
                                        <div class="technos-item">JavaScript</div>
                                        <div class="technos-item">SQL</div>
                                        <div class="technos-item">CSLA</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet Migration .NET (04-2007 à 11-2007)</h4>
                                    <h5 class="visible-xs">Projet Migration .NET</h5>
                                    <h6 class="visible-xs">(04-2007 à 11-2007)</h6>
                                    <p>Migration d’un projet Delphi en .Net, élaboration d’un framework maison semblable à CSLA.</p>
                                    <p>Tester, corriger les problèmes et modifier classes de base du framework.</p>
                                    <div class="technos">
                                        <div class="technos-item">C#</div>
                                        <div class="technos-item">CodeSmith</div>
                                        <div class="technos-item">ADO.Net</div>
                                        <div class="technos-item">CSLA</div>
                                        <div class="technos-item">VS 2008</div>
                                    </div>
                                    <hr>
                                </li>
                                <li class="techno">
                                    <h4 class="hidden-xs">Projet Circulation (10-2005 à 04-2007)</h4>
                                    <h5 class="visible-xs">Projet Circulation</h5>
                                    <h6 class="visible-xs">(10-2005 à 04-2007)</h6>
                                    <p>Application de distribution de journaux</p>
                                    <p>Confectionner plusieurs classes API pour la nouvelle interface utilisateur Java de l’application Unix existante.</p>
                                    <div class="technos">
                                        <div class="technos-item">Progress 4GL</div>
                                        <div class="technos-item">WR System</div>
                                        <div class="technos-item">Unix</div>
                                    </div>
                                </li>
                            </ul>
                            <hr>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
